/* 整体最大宽度 */
.helper-cnt-wrap{
  padding: 0 10px;
  margin: auto;
  max-width: 1248px;
}
/* 头部 */
/* 头部fix滑块 */
.helper-header{
  padding: 13px 0 15px 0;
  background-color: #fff;
  border-bottom:1px #EDEDF0 solid;
}
.helper-header.fixed.appear{
  transform: translateY(0px);
  }

.helper-header.fixed.disappear{
    transform: translateY(-77px);
  }

.helper-header.fixed{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.3s;
}

.helper-header .helper-address{
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bolder;
  padding: 2px;
}
.helper-header-name{
  margin-right: 57px;
  font-family: Inter,X-LocaleSpecific,sans-serif;
  float:left;
}

.helper-header-name p{
  margin:0;
  font-weight: bolder;
  font-size: 24px;
}

.helper-header-link{
  padding-top: 20px;
  float: left;
}

.helper-header .helper-header-link a{
text-decoration: none;
color:#000;
font-size: 16px;
font-weight: 600;
margin-right: 50px;
}

.helper-header .helper-header-link a:link{
  text-decoration: none;
}

.helper-header .helper-header-link a:hover{
  text-decoration: underline;
}

.helper-header .helper-header-link a:active{
  text-decoration: underline;
}

.helper-header .helper-header-link a:visited{
  text-decoration: underline;
}

.header-login-wrap{
  position: relative;
  float: right;
  height:100%;
}

.header-login-wrap .header-login-btn{
  height:40px;
  width:120px;
  background: transparent;
  border: 2px solid #0060DF;
  border-radius: 4px;
  color: #0060DF;
  font-size: 14px;
  font-weight:600;
  margin-top: 3px;
}

.header-login-wrap input{
  width: 248px;
  height:34px;
  line-height:40px;
  padding: 0 40px 0 8px;
  margin-top: 5px;
}

.header-login-wrap .search-btn{
  right:8px;
  top:10px;
}

/*中间部分*/
/*搜索+图标*/
.helper-center{
  background: #fff;
}

.helper-center .helper-center-first{
  font-size: 14px;
  color:#42436D;
}

.helper-center .helper-center-first a{
  color:#80809C;
  text-decoration: none;
}

.helper-center .helper-center-first a:hover{
  color:#166DE1;
}

.helper-center .helper-center-search{
padding:32px 0 48px;
text-align: center;
width: 75%;
margin: auto;
}

.helper-center-search h1{
  text-align: center;
  font-size: 3.5rem;
  color:#20133A;
  margin-bottom: 40px;
}

.helper-center-logo{
  height:53px;
  width: 76px;
}

.helper-center-input{
  position: relative;
}

.helper-center-input input{
width: 100%;
height:35px;
padding:0 6px;
}

.helper-center-hot{
  margin-top: 36px;
}

.helper-center-hot a{
  color: #166DE1;
  margin-left:12px;
}

/*关键*/
.helper-center-topic{
  margin-top:46px;
}
.helper-center-topic .title{
  margin-bottom:15px ;
  font-size: 23px;
  color:#20133a;
}
.helper-center-topic .title2{
  margin-bottom: -2px;
  font-size: 17px;
  color:#42436f;
}
.helper-center-topic ul{
  margin-bottom: 158px;
}
.helper-center-topic ul li{
  cursor: pointer;
  width: 330px;
  line-height: 24px;
  padding: 24px 34px 21px 28px;
  margin-right:32px;
  margin-top: 24px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  color:#20133A;
  font-size: 17px;
  border-radius: 4px;
  box-shadow:  0 5px 10px -3px rgba(14,13,26,.12),0 3px 16px 2px rgba(7,48,114,.12),0 8px 12px 1px rgba(34,0,51,.04);
}
/*精彩文章*/
.helper-center-article .title{
  font-size: 23px;
  color:#20133a;
}
.helper-center-article ul{
  padding: 0;
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
}
.helper-center-article ul li{
  height:304px;
  flex:1;
  min-width: 214px;
  margin-right:32px;
  margin-top: 35px;
  padding: 26px;
  background-color: #fff;
  box-shadow:  0 5px 10px -3px rgba(14,13,26,.12),0 3px 16px 2px rgba(7,48,114,.12),0 8px 12px 1px rgba(34,0,51,.04);  
  transition: all 0.1s;
}
.helper-center-article ul li:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.helper-center-article-ul .header{
  height: 150px;
  border-bottom: 1px solid #000;
  color:#20133A;
  font-weight: bold;
  line-height: 24px;
}
.helper-center-article-ul p {
  margin-top:28px;
  color:#42435A;
}

/* 底部灰色banner+图标 */
.helper-center-bottom{
  background-color: #EDEDF0;
  padding: 40px 0;
  margin-bottom:96px ;
}
.center-bottom-wrap{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.helper-center-bottom .helper-center-bottom-img{
  margin: -80px 0;
  width: 320px;
  padding:0 50px;
}
.helper-center-descipt {
  min-width: 276px;
  max-width:390px;
  flex:1;
  text-align: center;
  overflow: hidden;
}
.helper-center-descipt .title{
  font-size: 37px;
  margin-bottom: 22px;
  
}
.helper-center-descipt .title2{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 22px;
}

/* 最底部黑色横块 */
.helper-bottom{
background-color: #000;
position: relative;
}
.helper-bottom a{
  color: #fff;
}
.helper-bottom .helper-bottom-top{
  display: flex;
  color:#fff;
  flex-wrap: wrap;
  padding: 34px 0 0 0;
}
.helper-bottom-top-wrap{
  border-bottom: 1px solid #fff;
}
.helper-bottom .bottom{
  width: 20%;
  margin-bottom: 18px;
  min-width: 160px;
}
.helper-bottom h4{
margin-bottom: 16px;
}
.helper-bottom ul li{
  margin-bottom: 13px;
}
.helper-bottom .tag{
  margin-bottom:34px;
}
.helper-bottom .tag a{
  font-size: 28px;
  line-height: 24px;
  font-weight: 400;
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 0 6px;
}
.helper-bottom-footer{
  padding:32px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}
.helper-bottom-footer >div{
  flex:1;
}
.helper-bottom-footer .bottom-right{
  flex:6;
}
.bottom-right a{
  margin-right: 28px;
  color: #fff;
}
.helper-bottom-footer .bottom-left{
  flex:4;
}
.helper-bottom-footer .bottom-left a{
  text-decoration: none;
}
.helper-bottom-footer .bottom-left a:hover{
  text-decoration: underline;
}
