*{
  padding: 0;
  margin:0;
}
.mt-20{
  margin-top: 20px;
}
button{
  cursor: pointer;
}
.el-document{
  display: inline-block;
  background-image: url('./assets/documnet.svg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
}
.clearfix{
  zoom: 1;
}
.clearfix::after{
  content: '.';
  opacity: 0;
  clear: both;
  display: block;
  height:0;
}
ul{
  margin-right:-32px;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  color:#20133A;
}
ul li:hover a{
  text-decoration: underline;
}
input{
  border:  2px solid #80809C;
  border-radius: 4px;
}
.search-btn{
  cursor: pointer;
  position: absolute;
  right:-5px;
  top:4px;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  border: none;
  background-size: cover;
  background-image:url("./assets/search.svg");
  background-position: 50%;
  background-color: transparent;
}
.search-btn:hover{
  background-color: gray;
}
.helper-cnt-wrap{
  padding: 0 10px;
  margin: auto;
  max-width: 1248px;
}
.helper-header.fixed.appear{
  transform: translateY(0px);
  }
  .helper-header.fixed.disappear{
    transform: translateY(-77px);
  }
.helper-header.fixed{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.3s;
}
.helper-header{
  padding: 12px 0 17px 0;
  background-color: #fff;
  border-bottom:1px #EDEDF0 solid;
}
.helper-header .helper-address{
  background: #000;
  color: #fff;
  font-size: 13px;
  font-weight: bolder;
  padding: 2px;
}
.helper-header-name{
  margin-right: 70px;
  font-family: Inter,X-LocaleSpecific,sans-serif;
  // display: inline-block;
  float:left;
}
.helper-header-name p{
  margin:0;
  font-weight: bolder;
  font-size: 24px;
}
.helper-header-link{
  padding-top: 22px;
  float: left;
}
.helper-header .helper-header-link a{
text-decoration: none;
color:#000;
font-size: 16px;
font-weight: 600;
margin-right: 52px;
}
.helper-header .helper-header-link a:link{
  text-decoration: none;
}
.helper-header .helper-header-link a:hover{
  text-decoration: underline;
}
.helper-header .helper-header-link a:active{
  text-decoration: underline;
}
.helper-header .helper-header-link a:visited{
  text-decoration: underline;
}
.header-login-wrap{
  position: relative;
  float: right;
  height:100%;
}
.header-login-wrap .header-login-btn{
  height:40px;
  width:120px;
  background: transparent;
  border: 2px solid #0060DF;
  border-radius: 4px;
  color: #0060DF;
  font-size: 14px;
  font-weight:600;
}
.header-login-wrap input{
  width: 248px;
  height:34px;
  line-height:34px;
  padding: 0 40px 0 8px;
}
.header-login-wrap .search-btn{
  right:5px;
}
.helper-center{
  background: #fff;
}
.helper-center .helper-center-first{
  font-size: 14px;
  color:#42436D;
}
.helper-center .helper-center-first a{
  color:#80809C;
  text-decoration: none;
}
.helper-center .helper-center-first a:hover{
  color:#166DE1;
}
.helper-center .helper-center-search{
padding:38px 0 54px;
text-align: center;
width: 74%;
margin: auto;
}
.helper-center-search h1{
  text-align: center;
  font-size: 3.5rem;
  color:#20133A;
  margin-bottom: 36px;
}
.helper-center-logo{
  height:56px;
  width: 56px;
}
.helper-center-input{
  position: relative;
}
.helper-center-input input{
width: 100%;
height:32px;
padding:0 6px;
}

.helper-center-hot{
  margin-top: 26px;
}
.helper-center-hot a{
  color: #166DE1;
  margin-right:7px;
}
.helper-center-topic{
  margin-top:50px;
}
.helper-center-topic .title{
  margin-bottom:20px ;
  font-size: 23px;
  color:#20133a;
}
.helper-center-topic .title2{
  margin-bottom:27px ;
  font-size: 17px;
  color:#42436f;
}
.helper-center-topic ul{
  margin-bottom: 170px;
  // display: flex;
  // flex-wrap: wrap;
}
.helper-center-topic ul li{
  cursor: pointer;
  // flex: 1;
  max-width: 360px;
  min-width: 300px;
  width: 26%;
  // height:72px;
  line-height: 24px;
  padding: 24px;
  margin-right:32px;
  margin-top: 24px;
  display: inline-block;
  background-color: #fff;
  color:#20133A;
  font-size: 17px;
  border-radius: 4px;
  box-shadow:  0 5px 10px -3px rgba(14,13,26,.12),0 3px 16px 2px rgba(7,48,114,.12),0 8px 12px 1px rgba(34,0,51,.04);
}
.helper-center-article .title{
  margin-bottom:35px ;
  font-size: 23px;
  color:#20133a;
}
.helper-center-article ul{
  padding: 0;
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
}
.helper-center-article ul li{
  height:260px;
  flex:1;
  min-width: 214px;
  margin-right:32px;
  margin-bottom: 36px;
  padding: 26px;
  background-color: #fff;
  box-shadow:  0 5px 10px -3px rgba(14,13,26,.12),0 3px 16px 2px rgba(7,48,114,.12),0 8px 12px 1px rgba(34,0,51,.04);  
  transition: all 0.1s;
}
.helper-center-article ul li:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.helper-center-article-ul .header{
  height: 126px;
  border-bottom: 1px solid #000;
  color:#20133A;
  font-weight: bold;
}

.helper-center-bottom{
  background-color: #EDEDF0;
  padding: 40px 0;
  margin-bottom:96px ;
// 
}
.center-bottom-wrap{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.helper-center-bottom .helper-center-bottom-img{
  margin: -80px 0;
  width: 320px;
  padding:0 70px;
}
.helper-center-descipt {
  min-width: 276px;
  max-width:400px;
  flex:1;
  text-align: center;
  overflow: hidden;
}
.helper-center-descipt .title{
  font-size: 37px;
  margin-bottom: 24px;
  
}
.helper-center-descipt .title2{
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}
.helper-bottom{
background-color: #000;
}
.helper-bottom a{
  color: #fff;
}
.helper-bottom .helper-bottom-top{
  display: flex;
  color:#fff;
  flex-wrap: wrap;
  padding: 37px 0 0 0;
}
.helper-bottom-top{
  border-bottom: 1px solid #fff;
}
.helper-bottom .bottom{
  width: 20%;
  margin-bottom: 42px;
  min-width: 160px;
}
.helper-bottom h4{
margin-bottom: 20px;
}
.helper-bottom ul li{
  margin-bottom: 17px;
}
.helper-bottom .tag{
  margin-bottom:32px;
}
.helper-bottom .tag a{
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 0 6px;
}
.helper-bottom-footer{
  padding:32px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}
.helper-bottom-footer >div{
  flex:1;
}
.bottom-right{
  flex:3;
}
.bottom-right a{
  margin-left: 27px;
  color: #fff;
}
.bottom-left{
  flex:7;
  line-height: 17px;;
}
